name: Shorebird Patch Android

on:
  push:
    branches:
      - main

jobs:
  build_and_patch_android:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install Shorebird
        run: |
          curl --proto '=https' --tlsv1.2 https://raw.githubusercontent.com/shorebirdtech/install/main/install.sh -sSf | bash
          echo "$HOME/.config/shorebird/bin" >> $GITHUB_PATH
          export PATH="$HOME/.config/shorebird/bin:$PATH"
          shorebird --version

      - name: Authenticate Shorebird
        env:
          SHOREBIRD_TOKEN: ${{ secrets.SHOREBIRD_TOKEN }}
        run: |
          echo "$SHOREBIRD_TOKEN" | shorebird login --token

      - name: Run Shorebird Patch for Android
        run: |
          shorebird patch android
